h1{
	text-transform:uppercase;
	text-align:center;
	font-weight:bold;
	font-family:initial;

}
body{
	background-image: url(ram.jpg);
	background-repeat: no-repeat;
	background-position: contain;
}
ol{ font-weight: bold;
	text-shadow: 2px 3px #c6bfbf;
	

}
.button{
	position: absolute;
	left: 222px;
	top: 350px;
	text-align: center;
	background-color: #f4511e;
	color: white;
	font-size: 19px;
	font-weight: bold;
	height: 49px;
	cursor: pointer;
	width: 90px;
	border-radius: 4px;
}
.button:hover{
	background-color: #2a4bfd;
}